<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>

	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p: ${productos}">
				<td th:text="${p.id}"></td>
				<td th:text="${p.nombre}"></td>
				<td th:text="${p.precio}"></td>
				<td th:text="${p.createAt}"></td>
			</tr>
		</tbody>
	</table>


</body>
</html>